@media only screen and (max-width: 1200px) {
	.slick-next {
		right: 10px;
	}

	.slick-prev {
		left: 0px;
	}
}

@media only screen and (max-width: 1024px) {

	.slick-slide {
		height: 315px;
	}

	.slick-track {
		height: 360px;
	}

	.slider__content {
		width: 100%;
		max-width: 768px;
	}

	.slick-prev,
	.slick-next {}

	.slick-prev {
		margin-top: -60px;
	}

	.slick-next {
		margin-top: -60px;
	}

	.slider__left {
		width: 421px;
		height: 299px;
		margin-left: 40px;
		transform: translateY(67px);
	}

	.slider__left .desktop {
		width: 100%;
		max-width: 311px;
	}

	.slider__left .table {
		width: 100%;
		max-width: 222px;
	}

	.slider__left .mobile {
		width: 100%;
		max-width: 67px;
	}

	.slider__right h1 {
		font-size: 60px;
		line-height: 48px;
	}

	.hidden__p {
		display: none
	}

	.slider__right ul {
		padding-bottom: 5px;
	}

	.slider__right ul li {
		font-size: 16px;
	}

	.slider__right {
		top: 63px;
		width: 283px;
	}

	.about__text {
		padding: 0 35px 0 10px;
	}

	.about h2 {
		font-size: 30px;
	}

	.about p {
		font-size: 12px;
		margin-bottom: 10px;
	}

	.about__text a {
		font-size: 12px;
	}

	.about__jobs .about__circle {
		width: 115px;
		height: 115px;
		padding: 20px 10px 0px 9px;
	}

	.about__jobs .about__circle h3 {
		font-size: 11px;
	}

	.about__jobs .about__circle p {
		display: none
	}

	.about__jobs .about__circle:after {
		margin-top: -11px;
		right: -11px;
		width: 25px;
		height: 25px;
		background-size: 30%;
	}

	hr {
		max-width: 98%;
	}

	.about__text p {
		margin-bottom: 15px;
	}

	blockquote:after {
		right: -53px;
		bottom: -9px;
	}

	.about__name h3 {
		font-size: 12px;
	}

	footer h3 {
		font-size: 12px;
	}

	footer p {
		font-size: 10px;
	}

	footer .footer__phone {
		font-size: 14px;
	}
}

@media only screen and (max-width: 980px) {

	header {
		height: inherit;
	}

	.menu {
		flex-direction: column;
	}

	.logo {
		padding-bottom: 16px;
	}

	.menu__item ul {
		justify-content: space-around;
	}

	.menu__item ul li {
		padding: 0 10px 4px 10px;
	}

	.menu__item ul li:last-child {
		padding-right: 10px;
	}
}

@media only screen and (max-width: 767px) {

	.slider {
		height: 327px;
		margin-bottom: 50px;
	}

	.slick-slide {
		height: 210px;
	}

	.slick-track {
		height: 340px;
	}
	
	.slick-prev {
		left: 10px;
	}

	.slick-next,
	.slick-prev {
		top: inherit;
		bottom: 0;
	}

	.slick-next:before {
		background-image: url('../assets/icon-next-mobile.png');
		background-color: #999;
		background-repeat: no-repeat;
		background-position: center;
		width: 29px;
		height: 53px;
		opacity: 1;
	}

	.slick-prev:before {
		background-image: url('../assets/icon-prev-mobile.png');
		background-color: #999;
		background-repeat: no-repeat;
		background-position: center;
		width: 27px;
		height: 53px;
		opacity: 1;
	}

	.slider__left {
		width: 100%;
		max-width: 296px;
		margin: 0 auto;
		height: 215px;
		margin-left: auto;
		margin-right: auto;
		transform: translateY(45px);
	}

	.slider__left .desktop {
		max-width: 219px
	}

	.slider__left .table {
		max-width: 156px;
	}

	.slider__left .mobile {
		max-width: 47px;
	}

	.slider__right {
		top: inherit;
		left: 0;
		bottom: -122px;
		width: 100%;
		max-width: 283px;
		margin: 0 auto;
		text-align: center;
	}

	.slider__right h1 {
		font-size: 30px;
		color: #000;
		line-height: normal;
	}

	.slider__right ul,
	.slider__btn {
		display: none
	}

	.grid__3,
	.grid__4,
	.grid__5,
	.grid__9 {
		width: 100%
	}

	.about__img {
		text-align: center;
	}

	.about__text {
		padding: 10px 20px 0px 20px;
		text-align: center;
	}
	
	.about__text h2 {
		color: #666;
		margin-bottom: 5px
	}
	
	hr {
		max-width: 90%;
		margin: 20px auto;
	}

	.about__text p,
	.about__jobs,
	.about__text a,
	blockquote,
	.about__name {
		display: none;
	}

	footer {
		margin-top: 40px;
	}

	.grid__4 {
		text-align: center;
		padding-bottom: 30px
	}

	footer .footer__social {
		text-align: center;
	}
	
	footer p {
		width: 100%;
		max-width: 150px;
		margin: 0 auto
	}
	
	footer .footer__email__hidden,
	.about__text .icon__more__hidden{
		display: block;
	}

}

@media only screen and (max-width: 680px) {

	header {
		padding: 15px 0 10px 0;
		background-color: #FFF;
	}

	.logo {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0;
	}

	.logo .logo__img {
		width: 117px
	}

	.menu__btn {
		display: block;
	}

	.menu__item {
		display: none;
	}

}