/*****************
	STYLES
# Grid
# Fonts
# Header Menu
# Slider
# About
# Footer

******************/

.cf:after,
.cf:before {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

/*********************
		# Grid
**********************/

.grid__3, .grid__4, .grid__5, .grid__9 {
	float: left;
}

.grid__3 {
	width: 15%;
}

.grid__4 {
	width: 20%;
}

.grid__5 {
	width: 60%;
}

.grid__9 {
	width: 85%;
}



/*********************
		# Fonts
**********************/
@font-face {
    font-family: 'sakkal_majallaregular';
    src: url('../fonts/majalla-webfont.woff2') format('woff2'),
         url('../fonts/majalla-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: 'sakkal_majallaregular';
	font-size: 18px;
	color: #000;
}

.wrapper {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 10px
}

/*********************
	# Header Menu
**********************/
header {
	padding: 22px 0;
	background-color: #FFF;
}

.logo {
	width: 360px;
}

.menu__btn {
	position: relative;
	display: none;
	align-items: center;
	width: 100%;
	max-width: 150px;
	height: 50px;
	padding: 12px 10px 10px 10px;
	font-size: 30px;
	text-align: left;
	color: #FFF;
	background-color: #999;
	border: 0;
	border-radius: 3px;
	cursor: pointer;
}

.menu__btn i {
	position: absolute;
	right: 10px;
	height: 32px;
}

.menu {
	display: flex;
}

.menu__item {
	width: 100%;
}

.menu__item ul {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	height: 100%;
}

.menu__item ul li {
	list-style: none;
	padding: 0;
}

.menu__item ul li:last-child{
	padding-right: 0;
}

.menu__item ul li a {
	color: inherit;
	text-transform: uppercase;
	text-decoration: none
}

/*********************
	# Styles Slider
**********************/

.slider__content {
	position: relative;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

.slider__left {
	position: relative;
	width: 567px;
	height: 400px;
	transform: translateY(100px);
}

.slider__left .desktop {
	position: absolute;
}

.slider__left .table {
	position: absolute;
	bottom: 10px;
	right: 30px
}

.slider__left .mobile {
	position: absolute;
	bottom: 20px;
	right: 0;
}

.slider__right {
	position: absolute;
	top: 63px;
	right: 0;
	width: 350px
}

.slider__right p,
.slider__right h1,
.slider__right li{
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 5px;
	color: #FFF;
	line-height: normal;
	text-shadow: 0.01em 0.041em 0.01em #000
}

.slider__right h1 {
	font-size: 72px;
	line-height: 60px;
	margin: 0;
}

.slider__right ul {
	margin: 0;
	padding: 0;
	padding-bottom: 20px
}

.slider__right ul li {
	list-style: none;
	margin-bottom: 0;
}

.slider__btn {
	width: 100%;
	max-width: 148px;
	height: 51px;
	padding-top: 4px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.26);
	display: inline-block;
	border-radius: 8px;
}

.slider__btn a {
	position: relative;
	display: inline-block;
	width: 138px;
	height: 42px;
	margin: 0 auto;
	padding: 0 10px;
	background-image: linear-gradient(to top, #cccccc 0%, #ffffff 100%);
	color: #cc0000;
	line-height: 47px;
	border-radius: 4px;
	text-align: right;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}

.slider__btn a i {
	position: absolute;
	top: 13px;
	left: 10px;
}

/*********************
		# About
**********************/
.about {
	
}

hr {
	width: 100%;
	max-width: 940px;
	margin: 30px auto;
	border: 1px solid #cecece
}

.about p,
.about h2{
	margin: 0;
}

.about strong {
	color: #000;
}

.about h2 {
	font-size: 48px;
	text-transform: uppercase;
}

.about p {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #666666;
	margin-bottom: 15px;
}

.about__img {
	
}

.about__text {
	padding: 0 0 0 10px;
}

.about__text a {
	font-family: 'Roboto', sans-serif;
	display: inline-block;
	text-decoration: none;
	color: #cc0000;
	font-size: 16px;
	font-weight: bold;
}

.about__jobs {
	padding: 10px 0 0 0;
}

.about__jobs .about__circle {
	position: relative;
	float: left;
	width: 157px;
	height: 157px;
	text-align: center;
	border-radius: 50%;
	background-color: rgb(222, 222, 222);
	padding: 7px 10px 0px 10px;
}

.about__jobs .about__circle:after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -17px;
	right: -20px;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: #FFF;
	background-image: url('../assets/layer-53.png');
	background-repeat: no-repeat;
	background-position: center;
	z-index: 1;
}

.about__jobs .about__circle:last-child:after {
	display: none;
}

.about__jobs .about__circle__img {
	width: 100%;
	max-width: 50px;
	height: 50px;
	margin: 0 auto;
	padding: 5px 0 5px 0;
}

.about__jobs .about__circle h3 {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	margin-bottom: 10px;
	font-size: 13px;
	color: #666666;
}

.about__jobs .about__circle p{
	font-size: 11px;
}

blockquote {
	position: relative;
	padding: 0 18px 0 30px;
	font-size: 16px;
}

blockquote:before { 
	content: '';
	display: block;
	position: absolute;
	left: -40px;
	background-image: url('../assets/image-right.png');
	width: 63px;
	height: 50px;
}

blockquote:after { 
	content: '';
	display: block;
	position: absolute;
	right: -50px;
	bottom: 0;
	background-image: url('../assets/image-left.png');
	width: 63px;
	height: 50px;
}

.about__name {
	width: 100%;
	max-width: 300px;
	margin: 0 auto;
	margin-right: 0;
	padding: 20px 0 40px 0;
	text-align: right;
}

.about__name h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #000;
	margin: 0;
}

.about__text .icon__more__hidden {
	display: none;
}

/*********************
		# footer
**********************/

footer {
	background-color: #000;
	padding: 40px 0 20px 0;
	border-top: 11px solid #cc0000;
}

footer h3 {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	margin-bottom: 5px;
	color: #FFF;
	font-size: 16px;
	text-transform: uppercase
}

footer p {
	font-family: 'Roboto', sans-serif;
	color: #FFF;
	margin: 0;
	margin-bottom: 3px;
	font-size: 12px;
	font-weight: 500
}

footer .footer__phone {
	font-size: 16px;
	font-weight: bold
}

footer .footer__social {
	text-align: right;
}

footer .footer__social__img {
	padding-bottom: 20px
}

footer .footer__email__hidden {
	font-family: 'Roboto', sans-serif;
	color: #cc0000;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	display: none
}

















